if ! has nix_direnv_version || ! nix_direnv_version 3.0.6; then
  URL=https://raw.githubusercontent.com/nix-community/nix-direnv/3.0.6/direnvrc
  HASH=sha256-RYcUJaRMf8oF5LznDrlCXbkOQrywm0HDv1VjYGaJGdM=
  source_url "$URL" "$HASH"
fi

watch_file flake.lock
watch_file flake.nix

use flake . --verbose --show-trace