[submodule "lib/rain.metadata"]
	path = lib/rain.metadata
	url = https://github.com/rainprotocol/rain.metadata
[submodule "lib/rain.lib.memkv"]
	path = lib/rain.lib.memkv
	url = https://github.com/rainprotocol/rain.lib.memkv
[submodule "lib/sol.lib.binmaskflag"]
	path = lib/sol.lib.binmaskflag
	url = https://github.com/rainprotocol/sol.lib.binmaskflag
[submodule "lib/rain.math.fixedpoint"]
	path = lib/rain.math.fixedpoint
	url = https://github.com/rainprotocol/rain.math.fixedpoint
[submodule "lib/rain.interpreter.interface"]
	path = lib/rain.interpreter.interface
	url = https://github.com/rainlanguage/rain.interpreter.interface
[submodule "lib/rain.sol.codegen"]
	path = lib/rain.sol.codegen
	url = https://github.com/rainlanguage/rain.sol.codegen
[submodule "lib/rain.math.float"]
	path = lib/rain.math.float
	url = https://github.com/rainlanguage/rain.math.float
[submodule "lib/prb-math"]
	path = lib/prb-math
	url = https://github.com/PaulRBerg/prb-math
[submodule "lib/rain.intorastring"]
	path = lib/rain.intorastring
	url = https://github.com/rainlanguage/rain.intorastring
