[package]
name = "rain_interpreter_dispair"
version = "0.1.0"
edition = "2024"
license = "CAL-1.0"
description = "Rain Interpreter Rust Crate."
homepage = "https://github.com/rainlanguage/rain.interpreter"

[dependencies]
alloy = { workspace = true }

[package.metadata.docs.rs]
all-features = true
